<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student首頁</title>
    <meta name="author" content="SSAAKK">
    <meta name="robots" content="index,follow">
    <base target="_self">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>學生首頁</h1>
    <ul>
        <% studentData.forEach(student => { %>
            <li><a href="/students/<%= student.id %>"><%= student.name %></a></li>
       <% }) %>
    </ul>
    <a href="/students/new">新增學生</a>
</body>
<script src="./app.js"></script>
</html>